<div class="container">
  <h2>Rental Management</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Car</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentalsWithCarDetails()">
        
              <td>{{ rental.carDetails.type }} {{ rental.carDetails.model }}</td>
        <td>{{ rental.startDate | date }}</td>
        <td>{{ rental.endDate | date }}</td>
        <td>
          <button class="btn btn-sm btn-primary">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteRental(rental.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
