<div [formGroup]="form">
  <h3>Customer Details</h3>
  <div class="form-group">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>DNI</mat-label>
      <input matInput formControlName="dni" (blur)="onDniBlur()">
      <mat-error *ngIf="form.get('dni')?.hasError('required')">DNI is required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName" [readonly]="customerFound">
      <mat-error *ngIf="form.get('fullName')?.hasError('required')">Full Name is required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" [readonly]="customerFound">
      <mat-error *ngIf="form.get('address')?.hasError('required')">Address is required</mat-error>
    </mat-form-field>
  </div>
</div>
